* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
    background-color: #264A70;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25rem;

    background-image: url(/pic/world-picture.jpeg);

    border-bottom: solid 0.2rem white;
}

.form {
    display: flex;
    justify-content: center;

    padding-top: 4rem;
}

.list {
    list-style: none;
    text-align: center;

    margin-top: 1rem;
    width: 35rem;
    height: 4rem;

    background-color: white;
    color:grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

#list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    height: 3rem;
    width: 20rem;

    margin-right: 1rem;
    margin-left: 2rem;;
}

.input-radio {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6rem;
    padding-top: 1rem;
}

.input-radio-size {
    width: 1rem;
    height: 1rem;
}